<% provide :title, t("devises.change_password") %>
<h2><%= t "devises.change_password" %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label t("devises.password"), t("devises.password") %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> <%= t "devises.characters_minimum" %>)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label t("devises.password_confirmation"), t("devises.password_confirmation") %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t "devises.change_password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
