<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("pages.title"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("pages.home"), root_path %></li>
        <li><%= link_to t("pages.cart"), cart_path %></li>
        <li><%= link_to t("pages.login"), "#" %></li>
        <li><%= link_to t("pages.vi"), locale:"vi" %></li>
        <li><%= link_to t("pages.en"), locale:"en" %></li>
      </ul>
    </nav>
  </div>
</header>
